<!-- /components/navbar.html -->
<div class="flex justify-between items-center">
  <h1 class="text-2xl font-semibold">Admin Dashboard</h1>
<button class="border px-4 py-1 rounded hover:bg-gray-100" @click="logOut()">Logout</button>
</div>
<div class="flex justify-start gap-4 mb-4">
  <button onclick="history.back()" class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300">
    ← Back
  </button>
  <button onclick="history.forward()" class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300">
    Forward →
  </button>
</div>

